.auth {
    max-width: 30rem;
}

.checkbox {
    padding-top: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: left;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 12px -12px;
}

.buttons > Button {
    flex: 1;
    margin: 0 12px;
}
