:root {
  /* Primary colors */
  --black: #343944;
  --white: #FFFFFF;
  --openblue-bright: #0ACEFF;
  --openblue: #02bae8;
  --blue2: #0BA2D0;

  /* Gray */
  --gray1: #F2F6F9;
  --gray2: #DDE7F0;
  --gray3: #B8C7D4;
  --gray4: #8393A3;
  --gray5: #535E6E;
  --gray6: #343944;
  --gray7: #1F232B;

  /* Semantic colors */
  --error: #DB002C;
  --warning: #FF7F00;
  --success: #00D448;
}

@font-face {
  font-family: "Druk";
  src: url("fonts/Druk/DrukTextCy-Medium-TrueType.ttf") format("truetype");
}

@font-face {
  font-family: "Graphik LC";
  src: url("fonts/Graphik/GraphikLC-Regular-Desktop.otf") format("opentype");
}

@font-face {
  font-family: "Graphik LC";
  src: url("fonts/Graphik/Graphik-Medium-Desktop.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Graphik LC";
  src: url("fonts/Graphik/GraphikLC-Bold-Desktop.otf") format("opentype");
  font-weight: bold;
}


body {
  margin: 0;
  font-family: 'Graphik LC', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
  font-size: 18px;
  line-height: 26px;
}

input, button, select {
  color: var(--white);
  font-family: 'Graphik LC', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

input {
  background-color: var(--gray1);
  border-style: none;
  padding: 15px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  color: var(--gray5);
}

select {
  background-color: var(--gray1);
  border-style: none;
  padding: 15px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  color: var(--gray5);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(images/Caret-down.svg) 96% / 6% no-repeat var(--gray1);
}

option {
  box-sizing: border-box;
  border-style: none;
  padding: 15px 16px;
  margin: 8px 0;
  background-color: var(--gray1);
  color: var(--gray5);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Druk', sans-serif;
}

a {
  color: var(--openblue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: auto;
  padding: 2rem;
  background-color: var(--white);
  color: var(--black);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.5);
}



.deviceCardDetail {
  margin: auto;
  padding: 2rem;
  background-color: var(--white);
  color: var(--black);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 460px;
  /* display: none; */
}

.deviceCard {
  margin: 14px;
  width: 180px;
  height: 180px;
  padding: 24px;
  background-color: var(--white);
  color: var(--black);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
}

.deviceNew {
  margin: 14px;
  width: 180px;
  height: 180px;
  padding: 24px;
  background-color: var(--white);
  color: var(--black);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
}

.deviceDelete {
  margin: -4px -4px -32px auto;
}

.center {
  margin: auto;
}

.fade {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.5);
  /* display: none; */
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}