.user {
    display: flex;
    align-items: center;
    margin-left: 36px;
}

@media screen and (max-width: 680px)  {
    .user {
        margin-left: 16px;
    }

    .display {
        display: none;
    }
}

.avatar {
    margin-left: 16px;
    display: inline-block;
    border-radius: 20px;
    width: 36px;
    height: 36px;
    overflow: hidden;
    background-size: contain;
}
