.button {
    background-color: var(--openblue);
    padding: 16px 32px;
    border: none;
}

.button:not(.ghost):not(.text):hover {
    background-color: var(--openblue-bright);
}

.button:not(.ghost):not(.text):active {
    background-color: var(--openblue);
}

.small {
    padding: 12px 24px;
}

.ghost {
    background-color: unset;
    color: var(--black);
    border: 1px solid var(--openblue);
}

.ghost:hover {
    border-color: var(--openblue-bright);
}

.ghost:active {
    border-color: var(--openblue);
}

.text{
    background-color: unset;
    padding: 0;
}
