.header {
    display: flex;
    padding: 10px 64px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 50px;
}

.logo {
    margin-bottom: -6px;
    padding-right: 36px;
}

@media screen and (max-width: 480px) {
    .logo {
        overflow: hidden;
        width: 34px;
    }
}

.buttons {
    flex: auto;
    text-align: right;
}

.user {

}
